<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [1]:
import csv

In [2]:
with open ('../unit-2_project/data/chipotle.tsv', 'rb') as tsvfile:
    reader = csv.reader(tsvfile, delimiter='\t')
    file_nested_list = [row for row in reader]

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [3]:
# Output first row of file_nested_list into a new object called 'header'
header = file_nested_list[0]

In [4]:
# Output remaining rows of file_nested_list into a new object called 'data'
data = file_nested_list[1:]

In [5]:
print header

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [6]:
# Use pandas to convert the list of lists into a DataFrame
import pandas as pd
df = pd.DataFrame(file_nested_list)
# Use the first row as the header
df=df.rename(columns=df.iloc[0])
#drop the first column since it's now the header
df=df[1:]
df.head()

,order_id,quantity,item_name,choice_description,item_price
1,1,1,Chips and Fresh Tomato Salsa,NULL,$2.39
2,1,1,Izze,[Clementine],$3.39
3,1,1,Nantucket Nectar,[Apple],$3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NULL,$2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [7]:
# Remove $ from item_price column and convert to a float
df['item_price'] = df['item_price'].astype(str).replace('[\$]','',regex=True).astype(float)
# Convert order_id and quantity to integers
df['order_id'] = df['order_id'].astype(int)
df['quantity'] = df['quantity'].astype(int)
# Add column of total cost per row (quantity * item_price)
df['total_item_price'] = df['quantity']*df['item_price']
df.head()

,order_id,quantity,item_name,choice_description,item_price,total_item_price
1,1,1,Chips and Fresh Tomato Salsa,NULL,2.39,2.39
2,1,1,Izze,[Clementine],3.39,3.39
3,1,1,Nantucket Nectar,[Apple],3.39,3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NULL,2.39,2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [8]:
# Sum the total_item_price values for each order_id and then calculate the mean
print "Average price per order:", df.groupby(['order_id'])['total_item_price'].sum().mean()

Average price per order: 21.3942311887

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [9]:
# Extract only the rows that contain item_name of 'Canned Soda' or 'Canned Soft Drink' and then list unique choice_description
soda_list = df.loc[df['item_name'].isin(['Canned Soda', 'Canned Soft Drink'])].choice_description.unique().tolist()
soda_list

['[Sprite]',
 '[Dr. Pepper]',
 '[Mountain Dew]',
 '[Diet Dr. Pepper]',
 '[Coca Cola]',
 '[Diet Coke]',
 '[Coke]',
 '[Lemonade]',
 '[Nestea]']

In [10]:
# Remove brackets around each choice_description to get the final list of unique_sodas
unique_sodas = []
for row in soda_list:
    unique_sodas.append(row.replace('[','').replace(']',''))
unique_sodas

['Sprite',
 'Dr. Pepper',
 'Mountain Dew',
 'Diet Dr. Pepper',
 'Coca Cola',
 'Diet Coke',
 'Coke',
 'Lemonade',
 'Nestea']

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [11]:
# Create a DataFrame filtered on rows that contain the string 'Burrito' within the item_name column
df_burrito = df[df['item_name'].str.contains('Burrito')]
df_burrito.head()

,order_id,quantity,item_name,choice_description,item_price,total_item_price
8,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
10,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25
17,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49,8.49
18,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49,8.49
22,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99,8.99

In [18]:
# Although choice_description appears to contain a mix of ingredients and toppings, for my sanity I will consider all of it toppings
# Remove brackets from the choice_description variable
df_burrito['choice_description'].replace(regex=True, inplace=True, to_replace="\\[", value="")
df_burrito['choice_description'].replace(regex=True, inplace=True, to_replace="\\]", value="")
df_burrito.tail(10)

# Weird. I didn't get this warning before I made a copy of this notebook so I could delete some code that I didn't end up using.
# Not sure I understand the error. I thought using inplace=True was supposed to overwrite the existing variable.
# What's wrong with what I did?
# Ok. That's even weirder. Now the error is gone. I swear I wasn't hallucinating.

,order_id,quantity,item_name,choice_description,item_price,total_item_price
4579,1821,1,Carnitas Burrito,"Tomatillo Green Chili Salsa, Rice, Pinto Beans...",9.25,9.25
4593,1825,1,Barbacoa Burrito,"Tomatillo Red Chili Salsa, Rice, Fajita Vegeta...",11.75,11.75
4603,1827,1,Barbacoa Burrito,Tomatillo Green Chili Salsa,9.25,9.25
4604,1827,1,Barbacoa Burrito,Tomatillo Green Chili Salsa,9.25,9.25
4608,1829,1,Steak Burrito,"Tomatillo Green Chili Salsa, Rice, Cheese, Sou...",11.75,11.75
4609,1829,1,Veggie Burrito,"Tomatillo Red Chili Salsa, Fajita Vegetables, ...",11.25,11.25
4611,1830,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",11.75,11.75
4612,1830,1,Veggie Burrito,"Tomatillo Green Chili Salsa, Rice, Fajita Vege...",11.25,11.25
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",11.75,11.75
4619,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",11.75,11.75

In [19]:
# Count number of toppings within each row using the comma as the delimiter between toppings and then take the average
print "Average number of toppings per Burrito:", df_burrito['choice_description'].str.split(',').apply(len).mean()

Average number of toppings per Burrito: 5.39505119454

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [14]:
# Create a DataFrame filtered on rows that contain the string 'Chips' within the item_name column
df_chips = df[df['item_name'].str.contains('Chips')]
df_chips.head()

,order_id,quantity,item_name,choice_description,item_price,total_item_price
1,1,1,Chips and Fresh Tomato Salsa,NULL,2.39,2.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NULL,2.39,2.39
7,3,1,Side of Chips,NULL,1.69,1.69
11,5,1,Chips and Guacamole,NULL,4.45,4.45
15,7,1,Chips and Guacamole,NULL,4.45,4.45

In [15]:
# Replace '-' within item_names with ' '
df_chips['item_name'].replace(regex=True, inplace=True, to_replace="-", value=" ") 
#This doesn't work like I wanted it to. Couldn't figure out how to add the white space, so there will be a few duplicates

# Group by type of chip order and sum quantity for each chip order
chips_quant = df_chips.groupby(['item_name']).sum()
chips_quant

,order_id,quantity,item_price,total_item_price
item_name,,,,
Chips,208004,230,494.34,580.34
Chips and Fresh Tomato Salsa,100419,130,361.36,1033.96
Chips and Guacamole,449959,506,2201.04,2475.62
Chips and Mild Fresh Tomato Salsa,279,1,3.00,3.00
Chips and Roasted Chili Corn Salsa,32461,41,110.87,116.77
Chips and Tomatillo Green Chili Salsa,62996,78,211.62,232.98
Chips and Tomatillo Red Chili Salsa,63900,75,207.25,252.51
Side of Chips,84769,110,185.90,290.68

In [16]:
# Convert the two columns into a dictionary with item_name as the key and quantity as the value
import collections
chips_quant.set_index('item_name')['quantity'].to_dict()

# I tried different ways, but couldn't figure this one out

KeyError: 'item_name'

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!